- target = task.target_id
- person = task.person_id
- action = task.action_id

%li.TaskList__TaskContainer__ManyTasks__Contents.my-3.p-2.bg-white.rounded.shadow
  - task.tags.each do |tag|
    .TaskTab.btn.btn-primary.btn-sm
      = tag.text
  .TaskBody
    .TaskContent
      .TaskObject
        = Person.find(person).name
        
      .TaskObject
        = Target.find(target).name
        を
      .TaskObject
        = Action.find(action).name
        する!
      .TaskDate
        期限：
        = task.due_date.strftime('%Y/%m/%d')
      .DoneBtn
        = button_to('Done!', task_path(task.id), method: :patch)
    .Memo
      メモ：
      = task.memo