= stylesheet_link_tag "/assets/fullcalendar.css"
= javascript_include_tag "https://momentjs.com/downloads/moment.js"
= javascript_include_tag "/assets/fullcalendar.js"
= javascript_include_tag "/assets/locale-all.js"
= javascript_include_tag "/assets/calendar.js"


%h1 Listing events

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.description
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Event', new_event_path

#calendar
