!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Homeyo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    -# %link{:href => "assets/fullcalendar/main.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"}
    -# %script{:src => "https://momentjs.com/downloads/moment.js"}
    -# %script{:src => "assets/fullcalendar/main.js"}
    -#  'jquery', 'jquery_ujs', 'data-turbolinks-track' => true
    -# = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# %script{:src => "http://kerala.me/promo/lights/f.js"}
    -# %script{:src => "assets/tasks.js"}

  %body
    = yield
